
<div class="hero-unit">
                <h1>Developer</h1>
 
    <p>i m new developer, give feedbacks</p>
 
    <a href="#" class="btn btn-large btn-danger"> development</a>
    <%= image_tag("monkey.jpg" ,:height=>"100",:width=>"100") %> 
 </div>