
	
	
<div class="hero-unit">
                <h1>Help us</h1>
 
    <p>i am new in this field plz give ur suggestions and improve my knowledge</p>
 
    <div>
    	<%= link_to "donate" , '#' , :class => "btn btn-primary" , :id => "riddhi" %> 
    
    		<p class = "xyz">thoduk je samji ne aapo e....</p>
    </div>
 </div>