
<div class="hero-unit">
                <h1>Welcome home</h1>
 
    <p>this is a home page</p>
 
   <%=link_to "wassup", "#" , :class => "btn btn-danger" , :id => "done" %>
  
 </div>
  <div class = "well">
    <div id="123" style="background:pink;height:200px;width:500px;position:absolute">
    	Home
    </div>
   </div>